* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

html,
body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

:root {
    --bg-primary: #01BFFE;
    --bg-secondary: #CCEEFF;
    --bg-dark: #103040;
    --text-primary: #01BFFE;
    --text-secondary: #103040;
    --text-blue: #01AAFF;
    --text-para: #454545;
    --text-dark: #2B2B2B;
    --text-dark2: #383838;
    --text-dark3: #B3B3B3;
    --white-color: #FFF;
    --text-Neutral: #101010;
    --font-secondary: 'Inter', sans-serif;
}

.text-primary {
    color: var(--text-primary) !important;
}

.text-secondary {
    color: var(--text-secondary) !important;
}

.py-100 {
    padding: 100px 0px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    margin-top: 0.125em;
    margin-left: 0.125em;
}

.dropdown-menu li {
    padding: 5px 0px;
}

a {
    cursor: pointer;
}

/* theme-border-btn  */

.theme-border-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    border: 1px solid var(--bg-primary);
    border-radius: 10px;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-primary);
    position: relative;
    z-index: 1;
    transition: 0.3s all ease;
}

.theme-border-btn::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background: var(--bg-primary);
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0px, -50%);
    bottom: 0;
    transition: 0.3s all ease;
    z-index: -1;
    opacity: 0;
}


.theme-border-btn:hover {
    color: var(--white-color);
}

.theme-border-btn:hover::before {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 1;
}

/* theme-gradient-btn  */

.theme-gradient-btn {
    /* background: linear-gradient(62.57deg, #CCEEFF -0.3%, #00AAFF 75.71%);*/
    background-image: linear-gradient(62.57deg, #CCEEFF -0.3%, #00AAFF 55.71%, #00AAFF 75%);
    background-size: 200% auto;
    padding: 12px 32px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white-color);
    transition: 0.5s;
}

.theme-gradient-btn:hover {
    background-position: right center;
}

/* ==================================================================== */
/* Header Starts */
/* ========================================= */
header {
    z-index: 2;
    padding: 24px 0px;
    background: #def6f033;
    position: sticky;
    top: 0;
    backdrop-filter: blur(50px);
}

header .navbar-brand {
    max-width: 150px;
    height: auto;
}

header .navbar-brand img {
    width: 100%;
    height: auto;
}

header .nav-item {
    margin: 0px 18px;
    text-align: center;
}

header .nav-link {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--text-para) !important;
    position: relative;
    padding: 12px 0px !important;
    transition: 0.3s all ease;
    margin: 0 auto;
    display: inline-block;
}

header .nav-link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--bg-primary);
    left: 0;
    bottom: 2px;
    top: auto;
    transition: 0.3s all ease;
}

header .nav-link:hover,
header .nav-link.active {
    color: var(--text-primary) !important;
}

header .nav-link:hover::before,
header .nav-link.active::before {
    width: 100%;
}

/* ========================================= */
/* Header End */
/* ===================================================================== */



/* ==================================================================== */
/* Footer Starts */
/* ========================================= */
footer {
    padding-top: 100px;
}

footer .logo {
    max-width: 190px;
    width: 100%;
    margin-bottom: 20px;
}

footer .f-para {

    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #000000;
}

footer .social-link {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 12px;
    margin: 15px 0px;
}

footer .social-link .f-icon-wrapper {
    width: 34px;
    height: 34px;
    background: #F8F8F8;
    border: 0.3px solid #EDEDED;
    border-radius: 3px;
    padding: 6px;
    display: flex;
    transition: 0.3s all ease;
}

footer .social-link .f-icon-wrapper:hover {
    background: var(--bg-primary);
}

footer .social-link .f-icon-wrapper svg {
    width: 100%;
    height: auto;
}

footer .social-link .f-icon-wrapper svg path {
    transition: 0.3s all ease;
}

footer .social-link .f-icon-wrapper:hover svg path {
    fill: #FFF;
}

.footer-widget .footer-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #000000;
}

.footer-widget ul {
    padding-left: 20px;
    margin-bottom: 0;
}

.footer-widget ul li {
    padding: 5px 0px;
}

.footer-widget ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #000000;
    transition: 0.3s all ease;
}

.footer-widget ul li a:hover {
    color: var(--text-primary);
}

.info-widget .f-icon-wrapper {
    width: 34px;
    height: 34px;
    background: #F8F8F8;
    border: 0.3px solid #EDEDED;
    border-radius: 3px;
    padding: 6px;
    display: flex;
    transition: 0.3s all ease;
    flex: 0 0 34px;
}

ul.info-widget li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    transition: 0.3s all ease;
}

ul.info-widget li a:hover {
    color: var(--text-primary);
}

.f-bottom-wrapper {
    padding: 60px 0px 40px 0px;
}

.f-bottom-wrapper p {
    position: relative;
    padding: 20px 0 0;
    border-top: 1px solid rgb(175, 173, 174, 0.6);
}

.f-bottom-wrapper a {
    color: var(--text-secondary);
    font-weight: 600;
    transition: .4s all ease;
}

.f-bottom-wrapper a:hover {
    color: var(--text-primary);
}

/* ========================================= */
/* Footer End */
/* ===================================================================== */

/* ==================================================================== */
/* Home page Page Start */
/* ========================================= */

/* ==================================================================== */
/* Hero Banner Starts */
/* ========================================= */
.banner-wrapper {
    padding: 100px 0px;
    background: rgba(222, 246, 240, 0.2);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.banner-wrapper::before {
    content: "";
    position: absolute;
    width: 427.53px;
    height: 544.35px;
    left: 75.23px;
    top: 235px;
    background: #CCEEFF;
    opacity: 0.5;
    filter: blur(100px);
    transform: matrix(-0.81, 0.58, 0.58, 0.81, 0, 0);
    z-index: -1;
}

.banner-wrapper::after {
    content: "";
    position: absolute;
    width: 243.86px;
    height: 399.3px;
    right: 0;
    top: 0;
    background: #D2F0E9;
    opacity: 0.5;
    filter: blur(100px);
    transform: rotate(-61.74deg);
    z-index: -1;
}

.main-subtitle {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 8px;
    background: var(--bg-secondary);
    border-radius: 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-secondary);
}

.main-heading {
    font-family: var(--font-secondary);
    font-weight: 800;
    font-size: 54px;
    line-height: normal;
    color: var(--text-secondary);
    margin: 21px 0px;
}

.medium-para {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-para);
    opacity: 0.75;
    max-width: 500px;
}

.banner-wrapper .image-bg-wrapper {
    position: relative;
    z-index: 1;
}

.banner-wrapper .image-bg-wrapper::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 140%;
    background: url('../images/bg-banner-circle.svg') no-repeat;
    background-position: center;
    background-size: contain;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translate(0px, -50%);
    margin: 0 auto;
}

.banner-img {
    border-radius: 10px;
    margin: 0 auto 20px;
    height: 450px;
    width: auto;
    object-fit: cover;
}

.banner-wrapper .customer-count-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    background: #FFFFFF;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    z-index: 1;
    position: absolute;
    bottom: 10%;
    left: -4%;
    text-align: left;
}

.banner-wrapper .customer-count-wrapper h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-secondary);
}

.banner-wrapper .customer-count-wrapper span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-secondary);
}

.banner-wrapper .customer-count-wrapper .customer-img-wrapper {
    display: flex;
}

.banner-wrapper .customer-count-wrapper .customer-img-wrapper img {
    border-radius: 100px;
    border: 2px solid #FFF;
    margin-left: -10px;
    width: 42px;
}

.banner-wrapper .customer-count-wrapper .customer-img-wrapper img:first-child {
    margin: 0;
}

.banner-wrapper .shield-icon-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px;
    gap: 16px;
    background: #FFFFFF;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    z-index: 1;
    position: absolute;
    top: 30%;
    right: 5%;
}

/* ========================================= */
/* Hero Banner End */
/* ===================================================================== */


/* ==================================================================== */
/* Problem and Solution section Starts */
/* ========================================= */
.prb-sol-wrapper {
    padding: 120px 0px;
    position: relative;
    z-index: 1;
}

.prb-sol-wrapper::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 772px;
    right: 0%;
    top: -15%;
    background: #D9F5FF;
    opacity: 0.5;
    filter: blur(100px);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.prb-sol-wrapper::after {
    content: "";
    position: absolute;
    width: 420px;
    height: 417px;
    left: -16px;
    bottom: 0;
    background: #CCEEFF;
    opacity: 0.75;
    filter: blur(100px);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.prb-sol-large-img {
    border-radius: 25px;
    width: auto;
    object-fit: cover;
    height: 450px;
    max-width: 90%;
    object-position: top;
}

.prb-sol-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 30px;
    gap: 24px;
    position: absolute;
    max-width: 166px;
    right: -10px;
    top: 50%;
    transform: translate(0px, -50%) !important;
    background: #FFFFFF;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.prb-sol-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}

.prb-sol-card svg {
    position: absolute;
    right: 0;
    top: 0;
}

.prb-sol-card span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--text-secondary);
}


.prb-sol-content-wrapper {
    padding-left: 50px;
}

.section-title {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 48px;
    color: var(--text-secondary);
}

.check-list {
    list-style: none;
    padding-left: 25px;
}

.check-list li {
    position: relative;
    padding: 5px 0px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-para);
}

.check-list li::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: url('../images/checkmark.svg') no-repeat;
    background-position: center;
    background-size: 16px;
    left: -25px;
    top: 8px;
}

/* ========================================= */
/* Problem and Solution section End */
/* ===================================================================== */

/* ==================================================================== */
/* Why choose us Starts */
/* ========================================= */
.why-choose-us {
    padding: 50px 0px 120px 0px;
}

.learn-more-btn {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-bottom: 1px solid var(--text-blue);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-blue);
    transition: 0.4s all ease;
}

.learn-more-btn:hover {
    color: var(--text-secondary);
    border-color: var(--text-secondary);
}

.why-choose-box {
    position: relative;
    display: flex;
    flex-direction: column;
}

.why-choose-us .text-eclipse {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.why-choose-img {
    width: 100%;
    height: 100%;
    max-width: 80%;
    border-radius: 10px;
    min-height: 390px;
    object-fit: cover;
    max-height: 390px;
    object-position: top;
}

.why-choose-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    background: #FFFFFF;
    border: 1px solid rgba(69, 69, 69, 0.1);
    border-radius: 10px;
    margin-top: -50px;
    margin-left: 90px;
}

.why-card-title {
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-secondary);
}

.small-para {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 15px;
    color: var(--text-secondary);
    opacity: 0.5;
    margin-bottom: 0;
}

.why-choose-box.selected .why-choose-card {
    background: linear-gradient(62.57deg, #9ADDFF -0.3%, #00AAFF 75.71%);
    border: 1px solid rgb(142 217 255);

}

.why-choose-box.selected .why-card-title,
.why-choose-box.selected .small-para {
    color: var(--white-color);
    opacity: 1;
}

/* ========================================= */
/* Why choose us End */
/* ===================================================================== */

/* ==================================================================== */
/* Counter Starts */
/* ========================================= */
.counter-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    border: 1px solid #00ACFF;
    border-radius: 16px;
}

.counter-box .number-wrapper>* {
    display: inline-block;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: -1px;
    margin: 0;
    color: var(--text-Neutral);
}

.counter-box .counter-desc {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #757B8A;
}

/* ========================================= */
/* Counter End */
/* ===================================================================== */


/* ==================================================================== */
/* Testimonials Starts */
/* ========================================= */

.testimonial-wrapper {
    padding: 100px 0px;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.testimonial-bg-wrapper {
    background: linear-gradient(54.78deg, #9FE0FF 4.75%, #00ACFF 95.46%);
    border-radius: 25px;
    padding: 60px 40px;
}

.testimonial-wrapper .swiper {
    margin-right: 50px;
}

.testimonial-wrapper .testi-nav {
    max-width: 100%;
    margin: 0px auto;
}

.testimonial-wrapper .swiper-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 24px;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 100px;
    margin: 0;
}

.testimonial-wrapper .swiper-button:after {
    color: var(--text-secondary);
    font-size: 20px;
}

.testimonial-wrapper .swiper-button.swiper-button-next {
    right: -10px;
}

.testimonial-wrapper .swiper-button.swiper-button-prev {
    left: -60px;
}


.testi-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;
    background: #FFFFFF;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}


.testi-box .quote-img {
    width: 32px;
    height: auto;
}

.testi-box blockquote {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-para);
}

.testi-box .author-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.testi-box .auth-img-box {
    width: 52px;
    height: auto;
}

.testi-box .auth-img-box img {
    width: 100%;
    border-radius: 100px;
}

.testi-box .auth-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    color: var(--text-secondary);
}

.testi-box .auth-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-secondary);
    opacity: 0.5;
}

/* ========================================= */
/* Testimonials End */
/* ===================================================================== */



/* ==================================================================== */
/* CTA Starts */
/* ========================================= */

.cta-wrapper {
    position: relative;
    padding: 50px 12px;
    z-index: 1;
}

.cta-wrapper .cta-inner-wrapper {
    background: #FFFFFF;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    overflow: hidden;
}

.cta-wrapper .cta-inner-wrapper .padding-wrapper {
    padding: 100px;
}

.cta-wrapper .cta-img-wrapper {
    width: 100%;
    padding: 50px 50px 0 0px;
    object-position: bottom;
}

/* ========================================= */
/* CTA End */
/* ===================================================================== */

/* ========================================= */
/* Home Page End */
/* ===================================================================== */

/* =============================================================================================================================== */

/* ==================================================================== */
/* About Us Page */
/* ========================================= */

/* ==================================================================== */
/* Small Banner Start */
/* ========================================= */
.small-banner {
    padding: 120px 0px;
    background: rgba(222, 246, 240, 0.2);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.small-banner::before {
    content: "";
    position: absolute;
    width: 427.53px;
    height: 544.35px;
    left: 75.23px;
    top: 235px;
    background: #CCEEFF;
    opacity: 0.5;
    filter: blur(100px);
    transform: matrix(-0.81, 0.58, 0.58, 0.81, 0, 0);
    z-index: -1;
}

.small-banner::after {
    content: "";
    position: absolute;
    width: 243.86px;
    height: 399.3px;
    right: 0;
    top: 0;
    background: #D2F0E9;
    opacity: 0.5;
    filter: blur(100px);
    transform: rotate(-61.74deg);
    z-index: -1;
}

/* .about-us {
    background: linear-gradient(180deg, rgba(1, 103, 153, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%),
        url('../images/Food-Waste-4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

.about-banner {
    position: relative;
    z-index: 1;
    text-align: center;
    background: linear-gradient(90deg, #E4E6E5 0%, #E6E7E9 82.01%, #127082 82.01%, #137081 100%);
}

.about-us {
    width: 75%;
    height: auto;
    margin: 0 auto;
}

.about-us-heading {
    position: absolute;
    max-width: 1300px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: left;
    top: 50%;
    transform: translate(0px, -50%);
}

.about-us-heading .title {
    font-size: 39px;
    font-weight: 700;
    max-width: 450px;
    color: var(--text-secondary);
}

.industry-us {
    background: linear-gradient(180deg, rgba(1, 103, 153, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%),
        url('../images/about-us.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-us {
    background: linear-gradient(180deg, rgba(1, 103, 153, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%),
        url('../images/industry-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.breadcrumbs {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    justify-content: center;
    padding: 6px 18px;
    border-radius: 10px;
    background: #43d0fe14;
    border: 1px solid #7bdefd;
}

.breadcrumbs .breadcrumb-item {
    color: #FFF;
    transition: 0.4s all ease;
}


.breadcrumbs .breadcrumb-item:hover {
    color: var(--text-primary);
}

.breadcrumbs .breadcrumb-seperator {
    color: var(--text-primary);
}


.about-us-img-wrapper img {
    width: 100%;
    max-width: 100%;
}

.about-us-img-wrapper .col-4 {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: -100px;
    margin-bottom: -50px;
    width: 50%;
    padding: 0;
}

.about-us-img-wrapper .col-4 img {
    height: 60%;
    border-radius: 12px;
}

/* Our mission section  */
.mission-wrapper {
    margin-bottom: 70px;
    position: relative;
}

.mission-wrapper::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 30%;
    right: 0;
    bottom: 0;
    background: #CCEEFF;
    opacity: 0.75;
    filter: blur(100px);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.mission-wrapper .mission-box-wrapper {
    padding: 50px;
    border: 1px solid #00acff73;
    border-radius: 24px;
    background: #f8fdfc;
    backdrop-filter: blur(120px);
}

.mission-wrapper .mission-box-wrapper img {
    width: 100%;
    height: auto;

}

.grid-4-wrapper .why-choose-card {
    margin-left: 40px;
}

.grid-4-wrapper .why-choose-img {
    max-width: 90%;
    min-height: 340px;
    max-height: 340px;
}

/* ========================================= */
/* Small Banner End */
/* ===================================================================== */

/* ========================================= */
/* About Us Page End */
/* ===================================================================== */


/* =============================================================================================================================== */

/* ==================================================================== */
/* Industries Page Start */
/* ========================================= */
.industry-wrapper {
    padding: 100px 0px;
}

.indus-main-wrapper .prb-sol-large-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    max-width: 100%;
}

.industry-banner {
    position: relative;
    z-index: 1;
    text-align: center;
    background: linear-gradient(90deg, #b1e3fa 50%, #3fa9f5 50%);
}

.industry-banner .about-us {
    width: 65%;
}

.industries-nav div#nav-tab {
    border: 0px !important;
}

nav.industries-nav {
    background: #ffffff;
    padding: 12px;
    border: 1px solid #FFF;
    border-radius: 19px;
    box-shadow: -1px 3px 10px 10px #bee9ff4f;
}

.industries-nav .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 12px;
    background: #FFFFFF;
    border: 1px solid rgba(69, 69, 69, 0.1) !important;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.4s all ease;
}

.industries-nav .nav-link:hover {
    border: 1px solid rgb(142 217 255) !important;
}

.industries-nav .nav-link .icon-wrapper {
    padding: 12px;
    width: 70px;
    height: 70px;
    background: #3bbeff21;
    border-radius: 12px;
    border: 1px solid #5ac3f86b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.industries-nav .nav-link .icon-wrapper svg {
    width: 100%;
    height: auto;
}

.industries-nav .nav-link .text {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-secondary);
}


.industries-nav .nav-link.active {
    background: linear-gradient(62.57deg, #9ADDFF -0.3%, #00AAFF 75.71%);
    border: 1px solid rgb(142 217 255);
}

.industries-nav .nav-link.active .icon-wrapper {
    background-color: #FFF;
    border-color: #FFF;
}

.industries-nav .nav-link.active .icon-wrapper svg path {
    fill: var(--text-primary);
}

.industries-nav .nav-link.active .text {
    color: #FFF;
}

.industry-wrapper .tab-content {
    max-width: 95%;
    margin: 0 auto;
    border-radius: 0px 0px 12px 12px;
    border-top: 0 !important;
    padding: 32px !important;
    background: #f3fbff !important;
    border-color: #01aaff7e !important;
}

.industries-img-wrapper {
    width: 100%;
    height: auto;
}

.medium-heading {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 38px;
    color: var(--text-secondary);
    line-height: normal;
}

.tab-icon {
    max-width: 100%;
    width: auto;
    height: 150px;
    margin: 20px auto;
    text-align: center;
}

/* ========================================= */
/* Industries Page End */
/* ===================================================================== */

/* =============================================================================================================================== */

/* ==================================================================== */
/* Contact Page Start */
/* ========================================= */

.contact-wrapper {
    padding: 100px 0px;
}

.contact_form {
    padding: 40px;
    overflow: hidden;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 60px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 60px rgba(0, 0, 0, 0.05);
}

.contact_form-input {
    margin-bottom: 20px;
}

.contact_form input {
    z-index: 2;
    position: relative;
    width: 100%;
    padding: 16px 20px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--text-secondary) !important;
    border-radius: 16px !important;
    background-color: #eff9fd !important;
}

.contact_form textarea {
    border: none;
    min-height: 199px;
    padding: 16px 20px;
    border-radius: 16px !important;
    color: var(--text-secondary) !important;
    background-color: #eff9fd !important;
    width: 100%;
}

.contact-info-wrapper {
    display: flex;
    gap: 16px;
    margin-bottom: 0;
}

.contact-info-wrapper .icon-wrapper {
    padding: 12px;
    width: 60px;
    height: 60px;
    background: #3bbeff21;
    border-radius: 12px;
    border: 1px solid #5ac3f86b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 60px;
}

.contact-info-wrapper .icon-wrapper svg {
    width: 100%;
    height: auto;
}


.contact-info-wrapper .icon-wrapper svg path {
    fill: var(--bg-primary);
}

.contact-info-wrapper .title {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--text-secondary);
    opacity: 0.5;
}

.contact-info-wrapper .link {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: var(--text-secondary);
    word-break: break-all;
    transition: 0.4s all ease;
}

.contact-info-wrapper .link:hover {
    color: var(--text-primary);
}



.invalid-feedback,
.empty-feedback {
  display: none;
}

.was-validated :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
}

.is-invalid,
.was-validated :invalid {
  border-color: #dc3545;
}

p#result span {
    color: #14c31b;
    font-size: 18px;
}

/* ==================================================================== */
/* Contact Page Start */
/* ========================================= */

/* =============================================================================================================================== */

/* ==================================================================== */
/* Product Page Start */
/* ========================================= */

.product-banner {
    background: linear-gradient(180deg, rgba(1, 103, 153, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%),
        url('../images/product-banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #F8F8F8;
    background-attachment: fixed;
    min-height: 500px;
    display: flex;
    align-items: center;
}

.product-banner .small-banner {
    background-color: transparent;
}

.product-features-wrapper {
    position: relative;
    z-index: 1;
}

.product-features-wrapper::before {
    content: "";
    position: absolute;
    width: 427.53px;
    height: 544.35px;
    left: 75.23px;
    top: 235px;
    background: #CCEEFF;
    opacity: 0.5;
    filter: blur(100px);
    transform: matrix(-0.81, 0.58, 0.58, 0.81, 0, 0);
    z-index: -1;
}

.product-features-wrapper::after {
    content: "";
    position: absolute;
    width: 243.86px;
    height: 399.3px;
    right: 0;
    top: 0;
    background: #D2F0E9;
    opacity: 0.5;
    filter: blur(100px);
    transform: rotate(-61.74deg);
    z-index: -1;
}

.left-content-wrapper,
.right-content-wrapper {
    position: relative;
    z-index: 1;
}

.left-content-wrapper::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 140%;
    padding: 24px;
    background: #ffffff;
    border: 1px solid rgb(158 230 252);
    border-radius: 10px;
    z-index: -1;
    left: -20px;
    top: 50%;
    bottom: 0;
    box-shadow: 10px 10px 20px 0px #01bffe29;
    transform: translate(0px, -50%);
}

.right-content-wrapper::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 140%;
    padding: 24px;
    background: #ffffff;
    border: 1px solid rgb(158 230 252);
    border-radius: 10px;
    z-index: -1;
    left: -120px;
    right: 0;
    top: 50%;
    bottom: 0;
    box-shadow: 10px 10px 20px 0px #01bffe29;
    transform: translate(0px, -50%);
}

.product-features-wrapper .swiper {
    border-radius: 20px;
    box-shadow: 10px 10px 20px 0px #01bffe29;
}

.product-img {
    border-radius: 20px;
    min-height: 400px;
    object-fit: cover;
}

.product_slider .swiper-slide {
    width: 100%;
    height: 400px;
    cursor: grabbing;
    border-radius: 20px;
}

.product_slider img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 0px #01bffe29;
    object-fit: cover;
    object-position: top;
}

.small-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
}

.hiw-box {
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid var(--bg-primary);
    border-radius: 20px;
    background: var(--white-color);
    /* box-shadow: 10px 10px 10px 0px #01bffe10; */
    height: 100%;
    position: relative;
}

.hiw-box span {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 70px;
    color: var(--bg-dark);
    opacity: 0.1;
    font-weight: 800;
    line-height: 1;
    -webkit-text-stroke: 2px #000000;
    -webkit-text-fill-color: white;
}

.hiw-box .img-wrapper {
    height: 100px;
    margin-bottom: 12px;
}

.hiw-box .img-wrapper img {
    height: 100%;
    width: auto;
    max-width: 100%;
}

.benefit-wrapper {
    background-color: #FFF;
    padding: 20px;
    border: 1px solid rgba(69, 69, 69, 0.1) !important;
    border-radius: 16px;
    margin-top: 40px;
    box-shadow: 0px 0px 20px 0px #01bffe29;
}

.benefit-wrapper .nav-tabs {
    flex-wrap: nowrap;
    border: none;
    gap: 12px;
    margin-top: -40px;
}

.benefit-wrapper .nav-tabs .nav-item {
    width: 33.33%;
    overflow: hidden;
}

.benefit-wrapper .nav-link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    padding: 12px;
    background: #FFFFFF;
    border: 1px solid rgba(69, 69, 69, 0.1) !important;
    border-radius: 10px;
    margin: 0px !important;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-dark);
}

.benefit-wrapper .nav-link.active {
    background: linear-gradient(62.57deg, #9ADDFF -0.3%, #00AAFF 75.71%);
    border: 1px solid rgb(142 217 255) !important;
    color: #FFF;
}

.benefit-wrapper .tab-content p {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 18px;
    color: var(--text-secondary);
    opacity: 0.8;
    margin-bottom: 0;
}

/* ==================================================================== */
/* Product Page Start */
/* ========================================= */


/* ==================================================================== */
/* Blog page Start */
/* ========================================= */
.blog-box-wrapper {
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #cceeff94;
    transition: 0.4s all ease;
    display: block;
    height: 100%;
}

.blog-box-wrapper:hover {
    box-shadow: 10px 10px 10px 0px #cceeff52;
}

.blog-box-wrapper .img-wrapper {
    width: 100%;
    height: 240px;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 12px;
}

.blog-box-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    transition: 0.4s all ease;
}

.blog-box-wrapper:hover img {
    transform: scale(1.1);
}

.blog-box-wrapper .small-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.blog-box-wrapper .small-para {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-title {
    font-size: 28px;
    font-weight: 600;
}

.recent-blogs ul li {
    list-style: none;
}

.recent-blogs ul li a {
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 12px;
    border: 1px solid #1030401c;
    border-radius: 12px;
    margin: 12px 0px;
    transition: 0.4s all ease;
    gap: 12px;
}

.recent-blogs ul li a .img-wrapper {
    flex: 0 0 25%;
    border-radius: 8px;
}

.recent-blogs ul li a .img-wrapper img {
    width: 100%;
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
}

.recent-blogs ul li a h4 {
    color: var(--text-secondary) !important;
    font-size: 18px;
    transition: 0.4s all ease;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.recent-blogs ul li a:hover {
    border-color: #9FE0FF;
}

.recent-blogs ul li a:hover h4 {
    color: var(--text-primary) !important;
}

/* ==================================================================== */
/* Blog page Start */
/* ========================================= */


/* ==================================================================== */
/* case study page Start */
/* ========================================= */


/* ==================================================================== */
/* case study page Start */
/* ========================================= */

/* ========================================= */
/* Responsive Starts */
/* ========================================= */

@media (max-width: 1200px) {
    .section-title {
        font-size: 42px;
    }

    .medium-heading {
        font-size: 36px;
    }

    header .nav-item {
        margin: 0px 12px;
    }
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        position: absolute;
        width: 100%;
        max-width: 96%;
        margin: 0 auto;
        top: 60px;
        left: 0;
        right: 0;
        background: #ffffff;
        padding: 12px;
        border-radius: 12px;
        box-shadow: 3px -4px 8px 2px #e6f8fd;
    }

    .banner-wrapper,
    .prb-sol-wrapper,
    .testimonial-wrapper,
    .industry-wrapper,
    .contact-wrapper {
        padding: 70px 0px;
    }

    .py-100 {
        padding: 70px 0px;
    }

    .pt-100 {
        padding-top: 70px;
    }

    .pb-100 {
        padding-bottom: 70px;
    }


    footer {
        padding-top: 70px;
    }

    .main-heading {
        text-align: center;
    }

    .banner-wrapper .image-bg-wrapper::before {
        width: 105%;
        height: 120%;
    }

    .banner-wrapper .customer-count-wrapper {
        left: 7%;
    }

    .banner-wrapper .shield-icon-wrapper {
        right: 10%;
    }

    .banner-img {
        width: 100%;
        max-width: 340px;
    }

    .prb-sol-content-wrapper {
        padding: 0px 0px 0px 0px;
    }

    .testimonial-wrapper .swiper {
        margin: 0 30px;
    }

    .testimonial-wrapper .swiper-button.swiper-button-next {
        right: -30px;
    }

    .testimonial-wrapper .swiper-button.swiper-button-prev {
        left: -30px;
    }

    .cta-wrapper .cta-inner-wrapper .padding-wrapper {
        padding: 50px;
    }

    .why-choose-us {
        padding: 50px 0px 70px 0px;
    }

    .cta-wrapper .cta-img-wrapper {
        padding: 0px;
        max-width: 400px;
    }

    .f-bottom-wrapper {
        padding: 20px 0px;
    }

    .check-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* About us */
    .about-us-img-wrapper {
        margin-bottom: 90px;
    }

    .about-us-img-wrapper .col-4 {
        width: 45%;
    }

    .prb-sol-large-img {
        height: 100%;
    }

    .product-banner {
        min-height: 100%;
    }

    .left-content-wrapper::before,
    .right-content-wrapper::before {
        width: 110%;
        height: 170%;
        left: 50%;
        right: 0;
        top: 30%;
        bottom: 0;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 767px) {
    .main-heading {
        font-size: 48px;
    }

    .medium-para {
        font-size: 18px;
    }

    .section-title {
        font-size: 38px;
    }

    .section-title {
        font-size: 30px;
    }

    .banner-wrapper,
    .prb-sol-wrapper,
    .testimonial-wrapper,
    .industry-wrapper,
    .contact-wrapper {
        padding: 50px 0px;
    }

    .py-100 {
        padding: 50px 0px;
    }

    .pt-100 {
        padding-top: 50px;
    }

    .pb-100 {
        padding-bottom: 50px;
    }

    .small-title {
        font-size: 22px;
    }

    .banner-wrapper .image-bg-wrapper {
        margin-bottom: 40px;
    }

    .why-choose-card {
        margin-top: -40px;
        margin-left: 10%;
    }

    .why-choose-img {
        max-width: 90%;
        min-height: auto;
        max-height: 100%;
    }

    .testimonial-wrapper .swiper-button {
        width: 50px;
        height: 50px;
        top: 40%;
    }

    .testimonial-wrapper .swiper-button.swiper-button-next {
        right: -20px;
    }

    .testimonial-wrapper .swiper-button.swiper-button-prev {
        left: -20px;
    }

    .testimonial-wrapper .swiper-button:after {
        font-size: 16px;
    }

    .cta-wrapper .cta-inner-wrapper .padding-wrapper {
        padding: 30px;
    }

    .counter-box {
        align-items: center;
        text-align: center;
    }

    /* About us page */
    .about-us-img-wrapper {
        margin-bottom: 90px;
    }

    .small-banner {
        padding: 50px 0px;
    }

    footer {
        padding-top: 50px;
    }

    .banner-img {
        height: 100%;
    }

    .blog-title {
        font-size: 24px;
    }

    .pro-row-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    .left-content-wrapper::before,
    .right-content-wrapper::before {
        width: 105%;
        height: 170%;
        left: 50%;
        right: 0;
        top: 17%;
        bottom: 0;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 576px) {

    .prb-sol-card {
        right: 20px;
        padding: 12px;
        gap: 12px;
    }

    .prb-sol-card img {
        width: 50px;
        height: auto;
    }

    .why-choose-us {
        padding: 50px 0px;
    }

    .mission-wrapper .mission-box-wrapper {
        padding: 25px;
    }

    .mission-wrapper {
        padding-left: 12px;
        padding-right: 12px;
    }

    .industries-nav .nav-link .text {
        font-size: 16px;
    }

    .industries-nav .nav-link .icon-wrapper {
        padding: 9px;
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    .industries-nav .nav-link {
        padding: 12px;
        border-radius: 12px;
    }

    .contact_form {
        padding: 20px;
    }

    .contact_form textarea {
        min-height: 150px;
    }

    .contact-info-wrapper .link {
        font-size: 16px;
        line-height: 24px;
    }

    .contact-info-wrapper .title {
        margin-bottom: 2px;
    }

    .contact-info-wrapper .icon-wrapper {
        padding: 10px;
        width: 50px;
        height: 50px;
        flex: 0 0 50px;
    }

    footer {
        padding-top: 30px;
    }

    .small-title {
        font-size: 20px;
        font-weight: 600;
    }

    .blog-title {
        font-size: 22px;
    }

    .recent-blogs ul li a .img-wrapper {
        flex: 0 0 20%;
    }

    .recent-blogs ul li a h4 {
        font-size: 16px;
    }

    .blog-box-wrapper {
        padding: 15px;
    }

    .tab-icon {
        height: 120px;
        margin: 20px auto;
    }

    .benefit-wrapper .nav-link {
        font-size: 14px;
    }

    .about-us,
    .industry-banner .about-us {
        width: 100%;
    }

    .about-us-img-wrapper .col-4 {
        width: 60%;
    }

    .mission-box-wrapper .col-lg-7,
    .mission-box-wrapper .col-lg-5 {
        padding: 0;
    }
}

@media (max-width: 480px) {
    p {
        font-size: 14px !important;
        line-height: 22px !important;
    }

    .main-heading {
        font-size: 42px;
    }

    .medium-para {
        font-size: 16px;
        line-height: 24px;
    }

    .section-title {
        font-size: 32px;
    }

    .medium-heading {
        font-size: 24px;
    }

    .product-img {
        min-height: 100%;
        border-radius: 14px;
    }

    .left-content-wrapper::before,
    .right-content-wrapper::before {
        top: 35%;
        height: 130%;
    }

    .banner-wrapper .shield-icon-wrapper {
        padding: 12px;
    }

    .banner-wrapper .shield-icon-wrapper img {
        max-width: 32px;
    }

    .banner-wrapper .shield-icon-wrapper {
        top: -7%;
    }

    .banner-img {
        width: 100%;
        max-width: 85%;
    }

    .banner-wrapper .customer-count-wrapper {
        left: 0;
        padding: 12px;
        gap: 8px;
    }

    .banner-wrapper .image-bg-wrapper::before {
        width: 140%;
        height: 130%;
    }

    .banner-wrapper .image-bg-wrapper::before {
        bottom: -60px;
    }

    .banner-wrapper .customer-count-wrapper span {
        font-size: 14px;
    }

    .banner-wrapper .customer-count-wrapper .customer-img-wrapper img {
        width: 32px;
    }

    .check-list li {
        font-size: 14px;
    }

    .counter-box {
        padding: 20px;
        gap: 8px;
    }

    .counter-box .counter-desc {
        font-size: 18px;
        line-height: normal;
    }

    .testimonial-bg-wrapper {
        padding: 40px 30px;
    }

    .testimonial-wrapper .swiper {
        margin: 0 20px;
    }

    .testimonial-wrapper .swiper-button {
        width: 40px;
        height: 40px;
        top: 40%;
        padding: 12px;
    }

    .testi-box {
        padding: 24px;
        gap: 16px;
    }

    .testi-box blockquote {
        font-size: 14px;
        line-height: 22px;
    }

    .testi-box .author-box {
        gap: 10px;
    }

    .testi-box .auth-desc {
        font-size: 14px;
    }

    .testi-box .auth-img-box {
        width: 46px;
        height: auto;
    }

    .cta-wrapper {
        padding-top: 0;
    }

    .footer-widget ul li a {
        font-size: 14px;
    }

    section.small-banner.about-us .main-heading {
        font-size: 36px;
    }

    .industry-wrapper .tab-content {
        padding: 20px !important;
    }

    .cta-wrapper .cta-inner-wrapper .padding-wrapper {
        padding: 30px 20px;
    }

    .product-banner .main-heading {
        font-size: 34px;
    }
}

/* ========================================= */
/* Responsive End */
/* ========================================= */